* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  display:block;
  margin: auto;
  font: inherit;
  padding: 8px;
  max-width: 320px;
  border-radius: 15px;
  margin-bottom: 100px;
    

}


.country-list,
.country-info {

  margin-right: auto;
  margin-left: auto;
  padding: 30px;
  gap: 15px;
  border-radius: 15px;
  min-width: 150px;
  max-width: 600px;
  
  background-color:lightgreen;

}

.country-info img {
  margin: 0 auto;
  display: block;
}

  

p{text-align: center;}

